* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

footer, header {
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}


.fish-section {
    width: 55%;
    background-color: #EFEFEF;
}

.river-fish-article {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.predatory-fish-article {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.queries-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
}

img {
    box-shadow: 10px 10px 5px dimgray;
    margin: 20px;
}

table, td, th {
    border: 1px solid #4FB3BF;
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 80%;
}

th {
    padding: 4px;
}

td:hover {
    background: #4FB3BF;
}
